@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:wght@300&family=Shizuru&family=Ultra&display=swap');


:root{
    --blue: #3b82f6;
    --grey: #e5e5e5;
    --white: white;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

.container{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1.2fr 13fr;
}
/* Sidebar-left (Dashboard) */

.sidebar-left{
    background-color: grey;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 14fr;
    color: white;
    background-color: var(--blue);
}

.sidebar-left h2{
    font-size: 1.7rem;
    padding-top: 10px;
    padding-left: 50px;
}

.sidebar-left > ul{
    margin-top: 20px;
}
.sidebar-left > ul > li{
    padding: 10px;
    margin-left: 40px;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 800;
}

.sidebar-left a{
    text-decoration: none;
    color: white;
}


.nav{
    padding-top: 5px;
    height: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.search{
    display: flex;
    padding: 10px;
    padding-left: 40px;
}

.search > button{
    background-color: var(--white);
    border: none;
    cursor: pointer;
}

.search-input{
    width: 30rem;
    padding: 7px;
    background-color: var(--grey);
    border: 0px solid black;
    border-radius: 15px;
    margin-left: 30px;
}

.search-input:focus{
    outline: none;
}

/* Nav-profile */

.nav-profile{
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}

.profile-pic{
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

#noti-btn,
.profile-name{
    padding-top: 15px;
}



/* Post */
.post{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.post-right > button{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    width: 23%;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}

button:focus{
    outline: none;
}

button:hover{
    transform: scale(0.99);
}

/* Main-Content */
.content-container{
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content-container > .content-left{
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 0fr 3fr;
}

.content-title{
    padding: 10px;
    padding-left: 20px;
}

.card{
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: var(--white);
    border-left: 5px solid gold;
    border-radius: 10px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

/* Sidebar-right */

.sidebar-right{
    background-color: var(--grey);
    grid-column: 2/3;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.box-1,
.box-2{
    display: grid;
    grid-template-rows: 0fr 3fr;
}

.announce-title{
    padding-top: 10px;
    padding-left: 30px;
}

.announce,
.trending{
    background-color: white;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}





